{% extends "_layout" %}

{% block content %}
    <main>
        <article>
            <header class="title">
                <div class="container wide">
                    <h1>{{ entry.title }}</h1>
                    <time>{{ entry.postDate|date('jS M Y') }}</time>
                </div>
            </header>
            <section class="container">
                    {{ entry.postContent }}
                    <hr />
            </section>
        </article>
    </main>
{% endblock %}
