{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
    <main>
        <article class="article page">
            <header>
                <div class="row column small-12">
                    <h1>Page Not Found</h1>
                </div>
            </header>
            <hr />
            <section class="content row">
                <div class="column small-12 medium-8 medium-offset-2">
                    <p><code>&lt;?php require_once &#039;silly-404-template.php&#039;; // TODO</code></p>
                    <hr />
                </div>
            </section>
        </article>
    </main>
{% endblock %}
