<header class="main">
    <div class="container">
        <nav class="header main">
            <ul class="website">
                <li><a href="/">Home</a></li>
                <li><a href="/writing">Writing</a></li>
            </ul>
            <ul class="profiles">
                <li><a href="https://www.facebook.com/jackgutteridge" target="_blank" class="facebook">Facebook</a></li>
                <li><a href="https://twitter.com/jngutteridge" target="_blank" class="twitter">Twitter</a></li>
                <li><a href="http://www.last.fm/user/madnessjack" target="_blank" class="lastfm">LastFM</a></li>
                <li><a href="https://github.com/jngutteridge" target="_blank" class="github">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/jackgutteridge" target="_blank" class="linkedin">LinkedIn</a></li>
            </ul>
            <ul class="contact">
                <li><a href="mailto:jack@kingbrick.co.uk">Email</a></li>
            </ul>
        </nav>
    </div>
</header>
