{% extends "_layout" %}

{% block content %}
    <header class="title title--main">
        <div class="container">
            <h1>Jack Gutteridge</h1>
            <h2>Software Developer</h2>
        </div>
    </header>
    <nav class="links">
        <div class="container">
            <ul>
                <li><a href="https://www.facebook.com/jackgutteridge" target="_blank" class="link facebook"><span class="description">Facebook</span></a></li>
                <li><a href="https://instagram.com/jack7c4" target="_blank" class="link instagram"><span class="description">Instagram</span></a></li>
                <li><a href="https://twitter.com/jngutteridge" target="_blank" class="link twitter"><span class="description">Twitter</span></a></li>
                <li><a href="https://open.spotify.com/user/jack7c4" target="_blank" class="link spotify"><span class="description">Spotify</span></a></li>
                <li><a href="http://www.last.fm/user/madnessjack" target="_blank" class="link lastfm"><span class="description">LastFM</span></a></li>
                <li><a href="https://github.com/jngutteridge" target="_blank" class="link github"><span class="description">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/in/jackgutteridge" target="_blank" class="link linkedin"><span class="description">LinkedIn</span></a></li>
            </ul>
        </div>
    </nav>
    <hr />
    <main class="latest">
        <div class="container">
            <h2>Latest Writing</h2>
            <ul class="frontpage index">
                {% for entry in craft.entries.section('posts').limit(5) %}
                    {%  include '_index-entry.html.twig' %}
                {% endfor %}
            </ul>
        </div>
    </main>
    <hr />
    <section class="contact">
        <div class="container">
            <h2>Contact</h2>
            <p>Email me at <a href="mailto:jack@kingbrick.co.uk">jack@kingbrick.co.uk</a>.<br/>Alternatively, contact me through one of my social profiles.</p>
        </div>
    </section>
{% endblock %}
